body{
    background: #f3f3f3;
}
.riqi_box,.partner_box{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    border-bottom:1px solid #ddd ;
}

.riqi_box{background: #fff;border:none;}
.partner,.partner_item{
    width:30%;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding:3px 0;
    text-align: center;
}

.active{
    background-color: #000000;
    border-radius: 15px;
	color: #f1bc00;
}
.xiahuaxian{
    border-bottom:2px solid #ff850b;
}



.pd_box{
    display: none;
    padding: 0 10px;
}
.block{
    display: block;
}
.earn-item{
    height: 120px;
    padding: 17px 0 5px 0;
    border-bottom: 1px solid #ddd;
}
/*.earn-item:last-child{border: none}*/
.earn-item>div{
    display: flex;
}
.earn-item>p{
    font-size: 14px;
    margin-left: 10px;
}
.earn-item>div>img{
    height: 70px;
    margin-right:5px;
}
.earn-item>div>div>p{
    font-size: 16px;
    margin-top: 3px;
}
.earn-item>div>div>p:last-child{
    font-size: 12px;
    color: #999999;
}
.earn-item>div>div>p>span{
    background-color: #ff850b;
    border-radius: 8px;
    color: #fff;
    font-size: 13px;
    padding:0 10px ;
}
.earn-item>div>div>p>span>img{
    width: 10px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
.earn-item>.shouyi{
    font-size: 17px;
    color: #ff850b;
    margin-top: 13px;
}
.earn-item>.shouyi>span{
    font-size: 24px;
    margin-top:-5px;

}